#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.card {
  padding: 2em;
}

.Home{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.card img{
  width: 300px;
}
.card{
  border: 2px solid black;
}
h2{
  text-align: center;
}